<% content_for :title, "New article" %>

<h1>New article</h1>

<%= render "form", article: @article %>

<br>

<% if @article.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @article.photo.key, height: 300, crop: :fill %>')">
    <!-- contenu -->
  </div>
<% else %>
  <div class="card-category">
    <!-- contenu -->
  </div>
<% end %>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
