<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Les styles des e-mails doivent être en ligne */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
